*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #0d1117;
    color: #e6edf3;
    padding: 20px;
}
